<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>

    .button{
        background-color: #4CAF50;
      border: none;
      color: white;
      padding: 8px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
    }

    table,td,th{
    border:1px solid black;
    border-collapse: collapse;
    width:500px;
    margin:0 auto;
}
td{
    text-align: center;
    padding : 10px;
}
td>a{
    text-decoration: none;
    font-weight:bolder;
    font-size: larger;
}
    
    
    
    
</style>
<body>
    

<h1 style='text-align: center;'><%=router.name%></h1>

<div style='display: flex;flex-direction: column;justify-content: center;align-items: center;'>

<p> Type :  <%=router.type%></p>

<p>Server name : <%=server.name%></p>

<p>Router Link : <a href='/api/<%=server.name%>/<%=router.name%>'>http://localhost:3000/<%=server.name%>/<%=router.name%></a>  </p>

</div>

<hr style='width: 700px;'>


<% if(router.type=='get'){ %> 


<h3 style='text-align: center;'>Sub Route for this Route</h3>

<form action='/subcreate/<%=router._id%>/<%=server._id%>' method='POST' style='display:flex;justify-content: center;align-items: center; flex-direction: column;'>

    <label>Name : </label>

    <input type='text' name='name' required>

    <br><br>

    <label>Data to be sent : </label><br>

    <textarea name='send' required></textarea>


    <br><br>

    <button class='button' type='submit'>Create</button>

</form>

<br><br>

<% if(router.sub.length!=0){ %>
    
    <table>
        <tbody>
            
        <% for(r of router.sub){ %>
            
            
        <tr>
            
            <td> <%=r.name%></a></td>

            <td><a href='/subdelete/<%=r._id%>/<%=router._id%>/<%=server._id%>'>Delete</a></td>

            <td><a href='/api/<%=server.name%>/<%=router.name%>/api/<%=r.name%>'> http://localhost:3000/api/<%=server.name%>/<%=router.name%>/<%=r.name%></a></td>
        
        </tr>
        
           
        <% } %> 
        
        </tbody>
       
    </table>



<% } %> 

<br><br>

<hr style='width: 700px;'>

<div style='display: flex;flex-direction: column;justify-content: center;align-items: center;'>

<h4>Response to send when this route is called : </h4>

<form style='display: flex;flex-direction: column;justify-content: center;align-items: center;' action='/routerresponse/send/<%=router._id%>/<%=server._id%>' method='POST'>

<textarea name='send' placeholder='Enter JSON to send' required><%=router.send%></textarea>

<br><br>

<button class='button'>Save</button>

</div>

</form>

<div style='display: flex;flex-direction: column;justify-content: center;align-items: center;'>

<p>This route's current response : </p>

<div style='border:1px solid black;padding:20px;width:300px'>

<p><%=router.send%></p>


</div>

</div>




<% } %> 

<br><br>


<table>
    <thead>
        <th>No. of people accessed this route</th>
        <th>Location statistics</th>
    </thead>
    <tbody>
        <td><%=router.clicks%></td>

        <td>

            <ul style='list-style-type: none;'>
            
            <% for(k of router.location){ %>
                
                <li><%=k%> </li>

            <% } %> 

            </ul>

        </td>

    </tbody>








</table>




<br><br>

<div style='display: flex;flex-direction: column;justify-content: center;align-items: center;'>

    <a href='/home'><button class='button'>Back</button></a>
    
    
</div>

<br><br>

<div style='display: flex;flex-direction: column;justify-content: center;align-items: center;'>

<a href='/routerdelete/<%=router._id%>/<%=server._id%>'><button class='button'>Delete this router</button></a>

</div>


</body>
</html>