<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
 
<%- include('./partials/flash') %>

<h4><%=server.name%></h4>


<a href='/createrouter/<%=server._id%>'><button>Create Router to your server</button></a>


<br><br>

<% if(server.routers.length!=0){ %>
   
    
    <ul>   
        
    <% for(r of server.routers){ %>
        
        
    <li><a href='/router/show/<%=server._id%>/<%=r._id%>'><%=r.name%></a></li>
    
    
    
    <% } %> 
    
    
    </ul> 

<% } %> 


</body>
</html>